<!DOCTYPE html>
<html ng-app="app" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Angular Test App</title>
</head>

<body>
    <div class="container">
        <header ng-controller="toggleButton">
            <button ng-click="toogle()" class="btn btn-normal">Toogle Button</button>

            <!-- <ul  ng-controller="addList" style="display: {{display}}">
                <li><input ng-model="search" type="text"></li>
                <hr>
                <li ng-repeat="country in countries | filter:search" ng-click="print(country.name)">
                    <span>{{country.flag}}</span> {{country.name}}
                </li>
            </ul> -->

            <div style="display: {{display}}">
                <list1></list1>
                <list2></list2>
            </div>
        </header>

        <article>
            <h1>Concepts</h1>
            <p>At its core, webpack is a static module bundler for modern JavaScript applications. When webpack
                processes your application, it internally builds a dependency graph which maps every module your project
                needs and generates one or more bundles.</p>
        </article>
    </div>
</body>

</html>